@font-face {
  font-family: "Times";
  src: url("../fonts/73_13968_times.ttf");
}
$color_black: rgba(5, 5, 5, 1);
$color-yellow: rgba(230, 174, 72, 1);
::-webkit-scrollbar {
  background-color: $color-white;
  width: 5px;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background-color: $color-yellow;
  border-radius: 100px;
}
::-webkit-scrollbar-track {
  border-radius: 100px;
}
body {
  line-height: 1.4em;
  font-family: "Times";
}
.b-page-introduce {
  position: relative;
  padding: 50px 0;
  background-image: url("../images/product.jpg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: left top;
  height: 1400px;
  .b-heading {
    margin-bottom: 50px;
    .b-text-title {
      font-size: 21px;
      font-weight: 600;
    }
    .b-text-norm {
      font-size: 16px;
      text-align: center;
    }
    .b-link {
      background-color: $color_black;
      color: $white;
      padding: 8px 16px;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        background-color: $color_yellow;
      }
    }
  }
  .b-hot {
    position: relative;
    padding: 50px;

    .b-image {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .b-product {
      position: absolute;
      width: 70%;
      top: 60%;
      left: 50%;
      background-color: $white;
      box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
      @include tranform(translate(-50%, 0%));
      padding: 20px;

      .b-sale {
        position: relative;
        width: 100%;
        height: 100%;
        .b-image {
          img {
            width: 100px;
            position: absolute;
            left: 50%;
            top: 50%;
            @include tranform(translate(-50%, -50%));
          }
        }
        .b-info {
          img {
            position: absolute;
            left: 30px;
            top: 30px;
            width: 100px;
          }
          .b-text-title {
            position: absolute;
            left: 40px;
            top: 42px;
            color: $white;
            font-size: 26px;
            @include tranform(rotate(-45deg));
          }
        }
      }
      .b-content {
        padding: 30px;
        .b-text-title {
          color: $black;
          font-size: 24px;
        }
        img {
          @include tranform(translate(0, -15px));
        }
        .b-text-price {
          color: $color-yellow;
          font-size: 30px;
          font-weight: 300;
        }
        .b-link {
          background-color: $color_black;
          color: $white;
          padding: 8px 16px;
          font-size: 14px;
          text-decoration: none;
          &:hover {
            background-color: $color_yellow;
          }
        }
        .b-text-norm {
          margin-top: 30px;
          font-size: 16px;
        }
        .b-item {
          display: flex;
          flex-wrap: wrap;
          .item {
            width: 50%;
            border: 1px solid $color-yellow;
            padding: 10px;
            text-align: center;
            .b-text-date {
              color: $color-yellow;
              font-size: 26px;
            }
          }
        }
      }
      @media screen and(max-width:$break-large) {
        position: relative;
        width: 100%;
        .b-sale {
          position: relative;
          width: 100%;
          height: 100%;
          .b-image {
            visibility: visible;
            img {
              width: 100px;
              position: relative;
              top: 0;
              @include tranform(translate(-50%, 0%));
            }
          }
          .b-info {
            visibility: hidden;
          }
        }
      }
    }
  }
  @media screen and(max-width:$break-large) {
    height: 1600px;
  }
}
.b-page-new {
  position: relative;
  padding: 50px 0;
  .b-heading {
    margin-bottom: 50px;
    .b-text-title {
      font-size: 21px;
      font-weight: 600;
    }
    .b-text-norm {
      font-size: 16px;
      text-align: center;
    }
    .b-link {
      background-color: $color_black;
      color: $white;
      padding: 8px 16px;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        color: $color_yellow;
      }
    }
  }
  .b-card {
    position: relative;
    padding-bottom: 30px;
    .b-image {
      text-align: center;
      img {
        width: 97px;
      }
    }
    .b-sale {
      position: absolute;
      left: 0;
      top: 0;
      background-image: url("../images/re.png");
      background-repeat: no-repeat;
      background-size: 80%;
      height: 60px;
      width: 60px;
      .b-text-title {
        position: absolute;
        color: $white;
        font-size: 14px;
        @include tranform(rotate(-45deg));
        left: 2px;
        top: 9px;
      }
    }
    .b-new {
      position: absolute;
      left: 0;
      top: 0;
      background-image: url("../images/new.png");
      background-repeat: no-repeat;
      background-size: 80%;
      height: 60px;
      width: 60px;
      .b-text-title {
        position: absolute;
        color: $white;
        font-size: 14px;
        @include tranform(rotate(-45deg));
        left: 2px;
        top: 9px;
      }
    }
    .b-hot {
      position: absolute;
      left: 0;
      top: 0;
      background-image: url("../images/hot.png");
      background-repeat: no-repeat;
      background-size: 80%;
      height: 60px;
      width: 60px;
      .b-text-title {
        position: absolute;
        color: $white;
        font-size: 14px;
        @include tranform(rotate(-45deg));
        left: 2px;
        top: 9px;
      }
    }
    .b-content {
      position: relative;
      text-align: center;
      padding: 30px 10px;
      .b-text-title {
        font-size: 14px;
        color: $black;
        font-weight: 700;
        font-family: "Times";
      }
      .b-text-price {
        display: inline-block;
        width: 50%;
        color: $color-yellow;
        font-size: 22px;
        text-align: right;
      }
      .b-text-price-old {
        display: inline-block;
        width: 50%;
        color: rgb(129, 129, 129);
        text-decoration: line-through;
        font-size: 20px;
        text-align: left;
      }
    }
    .b-favorite {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      background-color: $color_black;
      height: 30px;
      @include transition(all 0.3s ease-in-out);
      .item {
        position: relative;
        text-align: center;
        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 1px;
          left: -10px;
          top: 0;
          background-color: $white;
        }
        .b-text-norm {
          color: $white;
          height: 30px;
          @include tranform(translate(0, 5px));
        }
      }
    }
    .b-link {
      position: absolute;
      bottom: 10px;
      left: 50%;
      background-color: $color_black;
      color: $white;
      font-size: 12px;
      padding: 5px 10px;
      font-family: "Times";
      text-decoration: none;
      @include tranform(translate(-50%, 0));
      &:hover {
        background-color: $color-yellow;
      }
    }
    &:hover {
      cursor: pointer;
      .b-favorite {
        visibility: visible;
        opacity: 1;
        top: 60%;
      }
      .b-link {
        background-color: $color-yellow;
      }
    }
  }
}
.b-page-product {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  .b-card {
    position: relative;
    width: 25%;
    @media screen and(max-width:$break-large) {
      width: 100%;
    }
    .b-image {
      position: relative;
      width: 100%;
      &::after {
        position: absolute;
        content: "";
        width: 0%;
        top: 0;
        left: 0;
        height: 2px;
        background-color: $color-yellow;
        @include transition(all 0.3s ease-in-out);
      }
      &::before {
        position: absolute;
        content: "";
        width: 0%;
        top: 100%;
        left: 0;
        height: 2px;
        background-color: $color-yellow;
        @include transition(all 0.3s ease-in-out);
      }
      .b-full {
        position: relative;
        width: 100%;
        height: 100%;

        &::after {
          position: absolute;
          content: "";
          width: 2px;
          top: 0;
          left: 1px;
          height: 0%;
          background-color: $color-yellow;
          @include transition(all 0.3s ease-in-out);
        }
        &::before {
          position: absolute;
          content: "";
          width: 2px;
          top: 0;
          left: 99%;
          height: 0%;
          background-color: $color-yellow;
          @include transition(all 0.3s ease-in-out);
        }
      }
      img {
        width: 100%;
        @include transition(all 0.3s ease-in-out);
      }
    }
    .b-content {
      position: absolute;
      text-align: center;
      width: 100%;
      padding: 10px;
      top: 50%;
      left: 50%;
      overflow: hidden;
      @include tranform(translate(-50%, -50%));
      .b-text-title {
        position: relative;
        color: $white;
        font-size: 50px;
        &::before {
          content: "";
          position: absolute;
          height: 0%;
          left: 20%;
          top: -20px;
          width: 2px;
          background-color: $white;
          @include transition(all 0.3s ease-in-out);
        }
        &::after {
          content: "";
          position: absolute;
          height: 2px;
          left: 15%;
          top: -7px;
          width: 0%;
          background-color: $white;
          @include transition(all 0.3s ease-in-out);
        }
      }
      .b-text-date {
        color: $white;
        font-size: 16px;
      }
    }
    .b-overload {
      opacity: 0;
      @include transition(all 0.3s ease-in-out);
    }
    &:hover {
      background-color: rgba(5, 5, 5, 0.7);
      cursor: pointer;
      .b-image {
        width: 100%;
        &::after {
          width: 100%;
        }
        &::before {
          width: 100%;
        }
        .b-full {
          position: relative;
          width: 100%;
          height: 100%;
          &:not(:last-child) {
            &::after {
              height: 100%;
            }
            &::before {
              height: 100%;
            }
          }
        }
        img {
          opacity: 0.2;
        }
      }
      .b-overload {
        opacity: 0.8;
      }
      .b-content {
        .b-text-title {
          &::before {
            height: 150%;
          }
          &::after {
            width: 80%;
          }
        }
      }
    }
  }
}
.b-page-selling {
  padding: 50px 0;
  .b-heading {
    margin-bottom: 50px;
    .b-text-title {
      font-size: 21px;
      font-weight: 600;
    }
    .b-text-norm {
      font-size: 16px;
      text-align: center;
    }
    .b-link {
      background-color: $color_black;
      color: $white;
      padding: 8px 16px;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        color: $color_yellow;
      }
    }
  }
  .b-card {
    position: relative;
    padding-bottom: 30px;
    .b-image {
      text-align: center;
      img {
        width: 97px;
      }
    }
    .b-sale {
      position: absolute;
      left: 0;
      top: 0;
      background-image: url("../images/re.png");
      background-repeat: no-repeat;
      background-size: 80%;
      height: 60px;
      width: 60px;
      .b-text-title {
        position: absolute;
        color: $white;
        font-size: 14px;
        @include tranform(rotate(-45deg));
        left: 2px;
        top: 9px;
      }
    }
    .b-new {
      position: absolute;
      left: 0;
      top: 0;
      background-image: url("../images/new.png");
      background-repeat: no-repeat;
      background-size: 80%;
      height: 60px;
      width: 60px;
      .b-text-title {
        position: absolute;
        color: $white;
        font-size: 14px;
        @include tranform(rotate(-45deg));
        left: 2px;
        top: 9px;
      }
    }
    .b-hot {
      position: absolute;
      left: 0;
      top: 0;
      background-image: url("../images/hot.png");
      background-repeat: no-repeat;
      background-size: 80%;
      height: 60px;
      width: 60px;
      .b-text-title {
        position: absolute;
        color: $white;
        font-size: 14px;
        @include tranform(rotate(-45deg));
        left: 2px;
        top: 9px;
      }
    }
    .b-content {
      position: relative;
      text-align: center;
      padding: 30px 10px;
      .b-text-title {
        font-size: 14px;
        color: $black;
        font-weight: 700;
        font-family: "Times";
      }
      .b-text-price {
        display: inline-block;
        width: 50%;
        color: $color-yellow;
        font-size: 22px;
        text-align: right;
      }
      .b-text-price-old {
        display: inline-block;
        width: 50%;
        color: rgb(129, 129, 129);
        text-decoration: line-through;
        font-size: 20px;
        text-align: left;
      }
    }
    .b-favorite {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      background-color: $color_black;
      height: 30px;
      @include transition(all 0.3s ease-in-out);
      .item {
        position: relative;
        text-align: center;
        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 1px;
          left: -10px;
          top: 0;
          background-color: $white;
        }
        .b-text-norm {
          color: $white;
          height: 30px;
          @include tranform(translate(0, 5px));
        }
      }
    }
    .b-link {
      position: absolute;
      bottom: 10px;
      left: 50%;
      background-color: $color_black;
      color: $white;
      font-size: 12px;
      padding: 5px 10px;
      font-family: "Times";
      text-decoration: none;
      @include tranform(translate(-50%, 0));
      &:hover {
        background-color: $color-yellow;
      }
    }
    &:hover {
      cursor: pointer;
      .b-favorite {
        visibility: visible;
        opacity: 1;
        top: 60%;
      }
      .b-link {
        background-color: $color-yellow;
      }
    }
  }
}
.b-page-blog {
  padding: 50px 0;
  .b-blog {
    .b-heading {
      margin-bottom: 50px;
      .b-text-title {
        font-size: 21px;
        font-weight: 600;
      }
      .b-text-norm {
        font-size: 16px;
        text-align: center;
      }
      .b-link {
        background-color: $color_black;
        color: $white;
        padding: 8px 16px;
        font-size: 14px;
        text-decoration: none;
        &:hover {
          color: $color_yellow;
        }
      }
    }
    .b-card {
      position: relative;
      .b-image {
        position: relative;
        width: 100%;
        height: 200px;
        &::after {
          content: "";
          position: absolute;
          width: 0%;
          left: 0;
          top: 0;
          height: 2px;
          background-color: $color-yellow;
          @include transition(all 0.3s ease-in-out);
        }
        &::before {
          content: "";
          position: absolute;
          width: 0%;
          left: 0;
          top: 100%;
          height: 2px;
          background-color: $color-yellow;
          @include transition(all 0.3s ease-in-out);
        }
        .b-full {
          position: relative;
          width: 100%;
          height: 100%;
          &::after {
            content: "";
            position: absolute;
            width: 2px;
            left: 0;
            top: 0;
            height: 0%;
            background-color: $color-yellow;
            @include transition(all 0.3s ease-in-out);
          }
          &::before {
            content: "";
            position: absolute;
            width: 2px;
            left: 100%;
            top: 0;
            height: 0%;
            background-color: $color-yellow;
            @include transition(all 0.3s ease-in-out);
          }
        }
        img {
          position: relative;
          width: 100%;
          height: 200px;
        }
        .b-overload {
          position: absolute;
          background-image: url("../images/bg6.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          margin: 10px;
          visibility: hidden;
          opacity: 0;
          top: 50px;
          left: 50px;
          width: 100%;
          height: 200px;
          @include transition(all 0.3s ease-in-out);
          .b-icon {
            position: absolute;
            width: 40px;
            height: 40px;
            left: 50%;
            top: 50%;
            @include tranform(translate(-50%, -50%));
            z-index: 9999;
            background-color: $white;
            border-radius: 100%;
            i {
              position: absolute;
              left: 50%;
              top: 50%;
              @include tranform(translate(-50%, -50%));
            }
          }
        }
        &:hover {
          cursor: pointer;

          &::after {
            width: 100%;
          }
          &::before {
            width: 100%;
          }
          .b-full {
            position: relative;
            width: 100%;
            height: 100%;
            &::after {
              height: 100%;
            }
            &::before {
              height: 100%;
            }
          }
          img {
            opacity: 1;
          }
          .b-overload {
            visibility: visible;
            opacity: 1;
            top: -10px;
            left: -10px;
          }
        }
      }
      .b-content {
        padding: 20px 0;
        line-height: 20px;
        .b-text-title {
          color: $color_black;
          font-size: 24px;
          font-family: "Times";
          font-weight: 500;
        }
        .b-text-total {
          font-size: 14p;
          font-family: "Times";
          color: rgb(193, 193, 193);
        }
        .b-text-norm {
          color: $color_black;
          font-size: 16px;
        }
        .b-link {
          color: rgb(193, 193, 193);
          text-decoration: none;
          &:hover {
            color: $color-yellow;
          }
        }
      }
    }
  }
  .b-customer {
    position: relative;
    .b-heading {
      margin-bottom: 50px;
      .b-text-title {
        font-size: 21px;
        font-weight: 600;
      }
      .b-text-norm {
        font-size: 16px;
        text-align: center;
      }
      .b-link {
        background-color: $color_black;
        color: $white;
        padding: 8px 16px;
        font-size: 14px;
        text-decoration: none;
        &:hover {
          color: $color_yellow;
        }
      }
    }
    .b-content {
      position: relative;
      text-align: center;
      .b-icon {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: $color-yellow;
        border-radius: 100%;
        left: 50%;
        top: -70%;
        @include tranform(translate(-50%, 0%));
        i {
          position: absolute;
          left: 50%;
          top: 50%;
          @include tranform(translate(-50%, -50%));
          color: $white;
        }
      }
      .b-info {
        .b-text-norm {
          margin-top: 50px;
          font-size: 16px;
        }
        .b-link {
          color: rgb(193, 193, 193);
          text-decoration: none;
          &:hover {
            color: $color-yellow;
          }
        }
      }
    }
    .b-person {
      margin-top: 10px;
      text-align: center;
      line-height: 10px;
      img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 10px;
      }
      .b-text-person {
        font-size: 18px;
        margin-top: 10px;
      }
      .b-text-norm {
        color: rgb(193, 193, 193);
        text-transform: capitalize;
      }
    }
  }
}
.b-page-auth {
  position: relative;
  padding: 50px 0;
}
