section.b-page-slider
    .b-image
        img(src="./images/slider-1.jpg", alt="images" style='width:100%')
    .b-content
        h3.b-text-title Rượu #[span Since 1980]
        h4.b-text-name Vang Đỏ
        