doctype html
html(lang='eng')
    include head/_site-head.pug
    body
        .loadingScreen
            .loadingScreen__wrapper
                .loadingScreen__wrapper__text
                    p   Loading #[span . ]#[span . ]#[span . ]#[span . ]#[span . ]
        .b-page
            include header/_site-header
            include slider/_site-slider
            include menu/_site-menu
            include content/_site-content
            include footer/_site-footer
        script(src="https://code.jquery.com/jquery-2.2.0.min.js")
        script(src="./js/wow.js")
        script(src="./js/main.js")
