footer.b-page-footer
    .container
        .row
            .col-lg-2
                .b-footer-item
                    .b-heading
                        h3.b-text-title THÔNG TIN
                    nav.b-page-nav
                        ul.b-list-item
                            li.b-item
                                a(href="#").b-link Về Chúng Tôi
                            li.b-item
                                a(href="#").b-link Về Chúng Tôi
                            li.b-item
                                a(href="#").b-link Về Chúng Tôi
                            li.b-item
                                a(href="#").b-link Về Chúng Tôi
                            li.b-item
                                a(href="#").b-link Về Chúng Tôi
            .col-lg-2
                .b-footer-item
                    .b-heading
                        h3.b-text-title THÔNG TIN
                    nav.b-page-nav
                        ul.b-list-item
                            li.b-item
                                a(href="#").b-link Về Chúng Tôi
                            li.b-item
                                a(href="#").b-link Về Chúng Tôi
                            li.b-item
                                a(href="#").b-link Về Chúng Tôi
                            li.b-item
                                a(href="#").b-link Về Chúng Tôi
                            li.b-item
                                a(href="#").b-link Về Chúng Tôi
            .col-lg-4
                .b-footer-item
                    .b-heading
                        h3.b-text-title THÔNG TIN
                    nav.b-send
                        p.b-text-norm Gửi email cho chúng tôi để đươ c hỗ trợ
                        form(action="#").b-form
                            input(type="text" placeholder="Enter email").b-input
                            img(src="./images/bg_input.png", alt="Input")
                            label(for="").b-text-label GỬI
                        
            .col-lg-4
                .b-footer-item
                    .b-heading
                        h3.b-text-title THÔNG TIN
                    nav.b-page-nav
                        ul.b-list-item
                            li.b-item
                                p #[i.fas.fa-heart] Tầng 3 hô chí minh
                            li.b-item
                                p #[i.fas.fa-heart] Tầng 3 hô chí minh
                            li.b-item
                                p #[i.fas.fa-heart] Tầng 3 hô chí minh
        .row
            .col-lg-8
                .b-text-footer
                    p.b-text-norm &copy; Copyright 2008-2014 DKT Technology JSC
            .col-lg-4.text-left
                .b-social
                    img(src="./images/bg_visa.png", alt="visa")